@CHARSET "UTF-8";

body{
	 margin:0px;          /* ページ全体のmargin */
     padding:0px;         /* ページ全体のpadding */
     text-align:center;   /* 下記のautoに未対応用のセンタリング */
     background-color: 	#eaeaea;
}
 .errorMessages{
	display: inline-block;
	text-align: left;
}
.link {
	text-align: left;
	background-color: #7cb5ff;
	font-size:100%;
}

.homeLink,.logoutLink{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0.25em 0;
   text-decoration: none;
   font-size: large;
   color: #443737;
}
.homeLink:before,.logoutLink:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#fcdb78;
   transition: .2s;
}
.homeLink:hover:before,.logoutLink:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}
.header {
	 margin-top: 15px;
	  margin-bottom: 15px;
	color: #695656;/*文字色*/
padding: 0.3em 0;/*上下の余白*/
border-top: solid 3px #695656;/*上線*/
border-bottom: solid 3px #695656;/*下線*/
width: fit-content;
font-weight: 800;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}
.text, textarea, .dropdown{
	   border:1px solid #777;
    padding: 5px;
    color: #000040;

    /* Webkit */
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#eee),
        to(#fff)
        );

    -webkit-border-radius: 5px;
    margin-bottom: 3px;
}
.dropdown{
	font-size:3px;
}
.messageForm input:focus,.messageForm textarea:focus {
  outline: 0;
  border-color: #4f7dec;
}
.message{
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 2px #627295;
    border-radius: 3px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.message:active {/*ボタンを押したとき*/
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*下に動く*/
    border-bottom-color: #fbfbfb;/*線を消す*/
    outline:none;
}
.message:disabled {
     border:none;
     background-color:#acacac;

     }
.space{
	float: left;
}
.messageForm {
    display: inline-block;
	    text-align:left;
	    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
        border-radius: 5px;
}
